[submodule "extern/SPIRV-Cross"]
	path = extern/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
	branch = sdk-1.3.236
[submodule "extern/assimp"]
	path = extern/assimp
	url = https://github.com/assimp/assimp.git
	branch = master
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
	branch = master
[submodule "extern/glTF-Sample-Models"]
	path = extern/glTF-Sample-Models
	url = https://github.com/KhronosGroup/glTF-Sample-Models.git
	branch = master
[submodule "extern/Vulkan-Headers"]
	path = extern/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
	branch = sdk-1.3.236
